body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "WireOne";
  src: local("WireOne"), url(./fonts/Wire_One/WireOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BenchNine";
  src: local("BenchNine"), url(./fonts/BenchNine/BenchNine-Light.ttf) format("truetype");
}

@font-face {
  font-family: "DidactGothic";
  src: local("DidactGothic"), url(./fonts/Didact_Gothic/DidactGothic-Regular.ttf) format("truetype");
}