body{ 
    height: 100vh;
    /* background: #70a67f; */
    background-image: url('./images/mountain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: scroll;
  }

.greeting-container{
    height: 100vh;
    display: grid;
    grid-template-areas: "hl hl logo"
                        "list info vl";
    grid-template-columns: 2fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 2fr;
    font-family: 'PlayfairDisplay';
}

.vl {
    grid-area: vl;
    border-right: 2px solid #fff;
    height: 95%;
    align-self: flex-start;
    margin-right: 25px;
}

.hl {
    grid-area: hl;
    border-top: 2px solid #fff;
    width: 95%;
    justify-self: flex-end;
    margin-top: 25px;
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    color: #fff;
    font-size: 30px;
}

.list {
    grid-area: list;
    color: #fff;
    align-self: flex-end;
}

.list ul {
    list-style: none;
    font-size: 75px;
}

.list ul li {
    margin-bottom: 20px;
    cursor: pointer;
}

.list ul li p:hover {
    opacity: 60%;
}

.list ul li p{
    color: #fff;
    text-decoration: none;
}

.info-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 35px;
}

.info {
    grid-area: info;
    color: #fff;
    right: 30px;
    align-items: center;
}

.info span {
    font-size: 30px;
}

.info p {
    font-size: 20px;
    font-family: 'Barlow';
}

.info .line-1 {
    margin-bottom: 0;
}

.info .line-2 {
    margin-top: 0;
}

.footer {
    background-color: #17314b;
}

.footer-wrap {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto 0 auto; */
}

.footer-logo {
    color: #fff;
    justify-self: start;
    cursor:pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-family: 'PlayfairDisplay';
}

.footer-text {
    color: #fff;
    margin-bottom: 16px;
}

.social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-wrapper a{
    color: #fff;
    font-size: 36px;
}

.social-wrapper a:hover{
    opacity: 60%;
}

.about-container {
    background: #17314b;
    color: #fff;
    height: 100vh;
    font-family: 'PlayfairDisplay';
    display: grid;
    grid-template-areas: ". abheader abline"
                            "absub absub abline"
                            "abtext abtext abline";
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-template-columns: 1fr 2fr 0fr;
}

.about-header {
    grid-area: abheader;
    font-size: 60px;
    font-family: 'PlayfairDisplay';
    margin: 20px 30px;
    justify-self: flex-end;
}

.about-subhead{
    grid-area: absub;
    font-size: 40px;
    justify-self: center;
}

.about-text-wrapper {
    grid-area: abtext;
    font-family: 'Barlow';
    justify-self: center;
    width: 60%;
    margin: 0;
}

.about-vl {
    grid-area: abline;
    border-right: 2px solid #fff;
    height: 95%;
    margin-right: 25px;
    align-self: center;
}

html {
    scroll-behavior: smooth !important;
}

.experience-container {
    background: #ffc87b;
    color: #fff;
    height: 100vh;
    font-family: 'PlayfairDisplay';
    display: grid;
    grid-template-areas: ". exheader exline"
                        "tabs tabs exline"
                        ". exbutton exline";
    grid-template-columns: 1fr 2fr 0fr;
    grid-template-rows: 1fr 2fr 0.5fr;

}

.experience-vl {
    grid-area: exline;
    border-right: 2px solid #fff;
    height: 95%;
    margin-right: 25px;
    align-self: center;
}

.experience-header {
    grid-area: exheader;
    font-size: 60px;
    font-family: 'PlayfairDisplay';
    margin: 20px 30px;
    justify-self: flex-end;
}

.experience-tabs {
    grid-area: tabs;
    justify-self: flex-start;
    margin-left: 5%;
}

.experience-button {
    grid-area: exbutton;
    background-color: #17314b;
    color: #fff;
    border: none;
    justify-self: flex-end;
    align-self: center;
    margin-right: 40px;
    width:fit-content;
    padding: 0 40px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'PlayfairDisplay';
    font-size: 22px;
}

.projects-container {
    background: #17314b;
    color: #fff;
    height: 100vh;
    font-family: 'PlayfairDisplay';
    display: grid;
}

.contact-container {
    background: #ffc87b;
    color: #fff;
    height: 100vh;
    font-family: 'PlayfairDisplay';
    display: grid;
}